{% extends "base.html" %} {% block main %}
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Your Input:</h5>
        <div>Age: <span id="age_id"></span></div>
        <div>Sex: <span id="sex_id"></span></div>
        <div>Chest Pain: <span id="cp_id"></span></div>
        <div>Resting Blood Pressure: <span id="trestbps_id"></span></div>
        <div>Serum Cholestoral: <span id="chol_id"></span></div>
        <div>Fasting Blood Sugar > 120 mg/dl: <span id="fbs_id"></span></div>
        <div>
          Resting Electrocardiographic Result: <span id="restecg_id"></span>
        </div>
        <div>Maximum Heart Rate: <span id="thalach_id"></span></div>
        <div>Exercise Induced Angina: <span id="exang_id"></span></div>
        <div>
          ST Depression Induced by Exercise Relative to Rest:
          <span id="oldpeak_id"></span>
        </div>
        <div>
          Slope of the Peak Exercise ST Segment: <span id="slope_id"></span>
        </div>
        <div>
          Number of Major Vessels colored by flourosopy:
          <span id="ca_id"></span>
        </div>
        <div>Thalium: <span id="thal_id"></span></div>

        <h5 class="pt-3">Prediction Result:</h5>
        <div id="prediction"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <a class="btn btn-info" href="/results" role="button">View History</a>
      </div>
    </div>
  </div>
</div>
<!-- END OF Modal -->


<div class="container pt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h1 class= "text-danger">Heart Disease Predictor</h1>
      <form action="" id="post-form">
        {% csrf_token %}

        <div class="form-group">
          <label for="age">Age (e.g 40)</label>
          <input
            type="number"
            step="1"
            class="form-control"
            id="age"
            placeholder=""
            required
          />
        </div>

        <div class="form-group">
          <label for="sex">Sex</label>
          <select type="number" class="form-control" id="sex" required>
            <option value="0">Female</option>
            <option value="1">Male</option>
          </select>
        </div>

        <div class="form-group">
          <label for="cp">Chest Pain Type</label>
          <select type="number" class="form-control" id="cp" required>
            <option value="0">asymptomatic</option>
            <option value="1">atypical angina</option>
            <option value="2">non-anginal pain</option>
            <option value="3">typical angina</option>
          </select>
        </div>

        <div class="form-group">
          <label for="trestbps">Resting Blood Pressure (mm Hg)</label>
          <input
            type="number"
            step="1"
            class="form-control"
            id="trestbps"
            placeholder=""
            required
          />
        </div>
        <div class="form-group">
          <label for="chol">Serum Cholestoral (mg/dl)</label>
          <input
            type="number"
            step="1"
            class="form-control"
            id="chol"
            placeholder=""
            required
          />
        </div>

        <div class="form-group">
          <label for="fbs">Fasting Blood Sugar > 120 mg/dl</label>
          <select type="number" class="form-control" id="fbs" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>

        <div class="form-group">
          <label for="restecg">Resting Electrocardiographic Result</label>
          <select type="number" class="form-control" id="restecg" required>
            <option value="0"
              >showing probable or definite left ventricular hypertrophy by
              Estes' criteria</option
            >
            <option value="1">normal</option>
            <option value="2">having ST-T wave abnormality</option>
          </select>
        </div>

        <div class="form-group">
          <label for="thalach">Maximum Heart Rate</label>
          <input
            type="number"
            step="1"
            class="form-control"
            id="thalach"
            placeholder=""
            required
          />
        </div>

        <div class="form-group">
          <label for="exang">Exercise Induced Angina</label>
          <select type="number" class="form-control" id="exang" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>

        <div class="form-group">
          <label for="oldpeak"
            >Oldpeak - ST depression induced by exercise relative to rest</label
          >
          <input
            type="number"
            step="0.1"
            class="form-control"
            id="oldpeak"
            placeholder=""
            required
          />
        </div>
        <div class="form-group">
          <label for="slope">Slope of the Peak Exercise ST Segment</label>
          <input
            type="number"
            step="1"
            class="form-control"
            id="slope"
            placeholder=""
            required
          />
        </div>

        <div class="form-group">
          <label for="ca">Number of Major Vessels colored by flourosopy</label>
          <select type="number" class="form-control" id="ca" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="thal">Thalium</label>
          <select type="number" class="form-control" id="thal" required>
            <option value="1">Fixed defect</option>
            <option value="2">Normal</option>
            <option value="3">Reversible defect</option>
          </select>
        </div>

        <button
          type="submit"
          value="Submit"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Predict
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).on("submit", "#post-form", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "predict:submit_prediction" %}',
      data: {
        age: $("#age").val(),
        sex: $("#sex").val(),
        cp: $("#cp").val(),
        trestbps: $("#trestbps").val(),
        chol: $("#chol").val(),
        fbs: $("#fbs").val(),
        restecg: $("#restecg").val(),
        thalach: $("#thalach").val(),
        exang: $("#exang").val(),
        oldpeak: $("#oldpeak").val(),
        slope: $("#slope").val(),
        ca: $("#ca").val(),
        thal: $("#thal").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        action: "post",
      },
      success: function (json) {
        document.forms["post-form"].reset();
        if (json["result"] == 0) {
          document.getElementById("prediction").innerHTML =
            "HEART DISEASE LIKELY";
        } else {
          document.getElementById("prediction").innerHTML =
            "NO HEART DISEASE LIKELY";
        }
        //document.getElementById("prediction").innerHTML = json["result"];

        document.getElementById("age_id").innerHTML = json["age"];
        document.getElementById("sex_id").innerHTML = json["sex"];
        document.getElementById("cp_id").innerHTML = json["cp"];
        document.getElementById("trestbps_id").innerHTML = json["trestbps"];
        document.getElementById("chol_id").innerHTML = json["chol"];
        document.getElementById("fbs_id").innerHTML = json["fbs"];
        document.getElementById("restecg_id").innerHTML = json["restecg"];
        document.getElementById("thalach_id").innerHTML = json["thalach"];
        document.getElementById("exang_id").innerHTML = json["exang"];
        document.getElementById("oldpeak_id").innerHTML = json["oldpeak"];
        document.getElementById("slope_id").innerHTML = json["slope"];
        document.getElementById("ca_id").innerHTML = json["ca"];
        document.getElementById("thal_id").innerHTML = json["thal"];
      },
      error: function (xhr, errmsg, err) {
        console.log("ERROR")
      },
    });
  });
</script>

{% endblock %}
